<section class="container-fluid" ng-controller="visualisationController"> 
    <div class="row" ng-if="visualisation != null">
        <div id="details" class="col-sm-6" class="card vis" style="height:100%;">
            <div class="view card">
                <div class="visualisation">
                    <a ng-href="{[{ visualisation.link }]}" class="top" style="background-image: url({[{ visualisation.screenshot }]});"></a>
                    <div class="header" color-thief color="{[{visualisation.bgcolour}]}">
                        {[{ visualisation.name }]}
                        <div class="floating-badge" ng-click="vote()"><div class="icon like"></div></div>
                    </div>
                    <div class="description">{[{ visualisation.description }]}</div>
                    <div class="bottom">
                        <div class="owner">
                            <img class="avatar" align="left" ng-src="{[{visualisation.author.avatar}]}"/>
                            <div class="name">{[{visualisation.author.username}]}</div>
                        </div>
                        <div class="likes">
                            <img class="icon" src="/assets/likes-grey.png"/>
                            <div class="number">{[{visualisation.votes}]}</div>
                        </div>
                        <div class="link">
                            <a href="{[{visualisation.link}]}">{[{visualisation.link}]}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card view">
                <form id="submit-comment" ng-submit="submitComment()" name="submit-comment-form">
                    <div class="comment">
                        <div class="top">
                            <div class="left">
                                <img align="left" class="avatar" ng-src="{[{currentAvatar}]}"/>
                            </div>
                            <textarea
                               placeholder="Comment"
                               ng-model="comment_content"
                               id="content"
                               class="inputtext" rows="4" wrap="hard"/>
                        </div>
                        <div class="bottom" style="text-align: right;">
                            <input type="submit" id="submit" value="{[{postLabel}]}" class="post"/>
                        </div>
                    </div>                        
                </form>
            </div>
            <div class="card view">
                <div class="comment" ng-repeat="c in commentItems">
                    <div class="top">
                        <div class="left">
                            <img align="left" class="avatar" ng-src="{[{c.user.avatar}]}"/>
                        </div>
                        <div class="commenttext">{[{c.text}]}</div>
                    </div>
                    <div class="bottom posted">
                        Posted on {[{c.date}]}
                    </div>                
                </div>               
                
            </div>                
                
            </div>
        </div>
    </div>
</section>
